:root {
  /* Paleta de Cores */
  --bg-main: #030305;
  --bg-container: #0d1117;
  --bg-cards: #161b22;
  --bg-hover: #30363d;

  --text-primary: #e1e7ee;
  --text-secondary: #9ab0c7;
  --text-muted: #4e6178;

  --color-primary: #00f0ff;
  --color-primary-shadow: #00eeff69;
  --color-secondary: #ff007f;
  --color-secondary-shadow: #ff008069;

  /* Tipografia */
  --text-small: 0.75rem;
  --text-body: 1rem;
  --text-h3: 1.25rem;
  --text-h2: 1.5rem;
  --text-h1: 2rem;
  --text-display: 2.5rem;

  --font: "Courier New", Courier, monospace;

  /* Espaçamentos */
  --s1: 0.25rem; /* 4px */
  --s2: 0.5rem; /* 8px */
  --s3: 1rem; /* 16px */
  --s4: 1.5rem; /* 24px */
  --s5: 2rem; /* 32px */
  --s6: 3rem; /* 48px */
  --s7: 4rem; /* 64px */
}

html[data-theme="matrix"] {
  --bg-main: #010502;
  --bg-container: #051207;
  --bg-cards: #0a1f0d;
  --bg-hover: #143d1a;

  --color-primary: #33cc33;
  --color-primary-shadow: #33cc3369;
  --color-secondary: #006600;
  --color-secondary-shadow: #00660069;
}

html[data-theme="amber"] {
  --bg-main: #060402;
  --bg-container: #140e07;
  --bg-cards: #21170d;
  --bg-hover: #3a2917;

  --color-primary: #ffb000;
  --color-primary-shadow: #ffb00069;
  --color-secondary: #cc7a00;
  --color-secondary-shadow: #cc7a0069;
}

html[data-theme="space"] {
  --bg-main: #000000;
  --bg-container: #0b0f19;
  --bg-cards: #141a29;
  --bg-hover: #222c45;

  --color-primary: #1e90ff;
  --color-primary-shadow: #1e90ff69;
  --color-secondary: #87cefa;
  --color-secondary-shadow: #87cefa69;
}

html[data-theme="steel"] {
  --bg-main: #050505;
  --bg-container: #121212;
  --bg-cards: #1e1e1e;
  --bg-hover: #333333;

  --color-primary: #dcdcdc;
  --color-primary-shadow: #dcdcdc69;
  --color-secondary: #cc0000;
  --color-secondary-shadow: #cc000069;
}

html[data-theme="virus"] {
  --bg-main: #060202;
  --bg-container: #170707;
  --bg-cards: #260c0c;
  --bg-hover: #401515;

  --color-primary: #ff003c;
  --color-primary-shadow: #ff003c69;
  --color-secondary: #990024;
  --color-secondary-shadow: #99002469;
}

/* Base Reset & Transições */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s;
}

button {
  display: flex;

  background: none;
  border: none;
}

input {
  background: none;
  border: none;
  outline: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;

  background-color: var(--bg-main);

  color: var(--text-primary);
  font-family: var(--font);
  font-size: var(--text-body);
  line-height: 1.6;
}

body::before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background:
    linear-gradient(#12101000 50%, #00000066 50%),
    linear-gradient(90deg, #ff005508, #00f0ff05, #0000ff08);
  z-index: 9999;
  background-size:
    100% 4px,
    6px 100%;
  pointer-events: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: var(--s2) 0;

  border-bottom: 1px solid var(--color-primary-shadow);

  color: var(--color-primary);
  text-shadow: 0 0 8px var(--color-primary-shadow);
  font-size: var(--text-small);

  & a {
    border: none;

    &:hover {
      background: none;
      box-shadow: none;

      color: var(--color-primary);
      text-shadow: 0px 0px 8px var(--color-primary);
    }
  }
}

h1 {
  margin-bottom: var(--s1);

  color: var(--text-primary);
  text-shadow: 0px 0px 12px var(--color-primary);
  font-size: var(--text-display);
}

h2 {
  margin-top: var(--s3);
  margin-bottom: var(--s1);

  color: var(--color-primary);
  font-size: var(--text-h2);

  text-shadow: 0px 0px 8px var(--color-primary-shadow);
}

p {
  margin-top: var(--s3);

  color: var(--text-secondary);
  text-align: justify;
}

hr {
  margin: var(--s4) 0;
  border: 1px dashed var(--color-secondary-shadow);
}

strong {
  color: var(--color-secondary);
  font-weight: bolder;
}

sup {
  color: var(--color-primary);
  font-size: 0.8em;
}

a {
  padding-bottom: 2px;

  border-bottom: 1px dashed var(--color-primary);

  color: var(--color-primary);
  font-weight: 100;
  text-decoration: none;

  &:hover {
    color: var(--bg-main);
    background-color: var(--color-primary);
    box-shadow: 0 0 10px var(--color-primary);
  }
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-color: var(--bg-main);
  border: none;
  color: var(--color-primary);
  font-family: var(--font);
  font-size: inherit;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:hover {
    text-shadow: 0px 0px 12px var(--color-primary);
  }

  & option {
    min-height: 1.8em;
    padding: var(--s1);

    background-color: var(--bg-main);

    color: var(--color-primary);
    text-align: center;
  }
}
